<link rel="stylesheet" href="/stylesheets/form.css" />
<div class="form">
<form action="/restaurants" method="POST">
  <div>
    <input type="number" placeholder="id" name="id" />
  </div>
  <div>
    <input type="text" placeholder="name" name="name" />
  </div>
  <div>
    <input type="text" placeholder="english name" name="name_en" />
  </div>
  <div>
    <input type="text" placeholder="category" name="category" />
  </div>
  <div>
    <input type="text" placeholder="image" name="image" />
  </div>
  <div>
    <input type="text" placeholder="location" name="location" />
  </div>
  <div>
    <input type="text" placeholder="phone" name="phone" />
  </div>
  <div>
    <input type="text" placeholder="google_map" name="google_map" />
  </div>
  <div>
    <input type="number" placeholder="rating" name="rating" />
  </div>
  <div>
    <input type="text" placeholder="description" name="description" />
  </div>

  <button type="submit">Create</button>

</form>
</div>
